body {
    margin: 0;
    background-color: #ffefc8;
    color: #ffefc8;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono";
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin: 0.5rem;
}


@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 

--saffron: #f4c95dff;
--redwood: #a15e49ff;
--jet: #2f2f2fff;
--whiteyellow: #ffefc8;
--thistle: #d7c0d0ff;


--saffron: hsla(43, 87%, 66%, 1);
--redwood: hsla(14, 38%, 46%, 1);
--jet: hsla(0, 0%, 18%, 1);
--white: hsla(0, 0%, 100%, 1);
--thistle: hsla(318, 22%, 80%, 1);

$saffron: #f4c95dff;
$redwood: #a15e49ff;
$jet: #2f2f2fff;
$white: #ffffffff;
$thistle: #d7c0d0ff;


$saffron: hsla(43, 87%, 66%, 1);
$redwood: hsla(14, 38%, 46%, 1);
$jet: hsla(0, 0%, 18%, 1);
$white: hsla(0, 0%, 100%, 1);
$thistle: hsla(318, 22%, 80%, 1);


$saffron: rgba(244, 201, 93, 1);
$redwood: rgba(161, 94, 73, 1);
$jet: rgba(47, 47, 47, 1);
$white: rgba(255, 255, 255, 1);
$thistle: rgba(215, 192, 208, 1);


$gradient-top: linear-gradient(0deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-right: linear-gradient(90deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-bottom: linear-gradient(180deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-left: linear-gradient(270deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-top-right: linear-gradient(45deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-bottom-right: linear-gradient(135deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-top-left: linear-gradient(225deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-bottom-left: linear-gradient(315deg, #f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
$gradient-radial: radial-gradient(#f4c95dff, #a15e49ff, #2f2f2fff, #ffffffff, #d7c0d0ff);
 */